@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 100 900;
	font-display: optional;
	src: url(/fonts/inter-var.ttf) format('truetype');
}

:root {
	--h-content-area: calc(100vh - theme('height.14'));
}

.min-height-mobile {
	min-height: calc(100vh - theme('height.4'));
}

.focus-brand {
	@apply focus:outline-none ring-black dark:ring-white focus:ring-2 focus:ring-offset-2 dark:focus:ring-offset-brand-primary-base;
}

.hover-brand {
	@apply hover:bg-brand-accent-base hover:text-white dark:hover:bg-white dark:hover:text-brand-accent-base;
}

.hover-brand-inverse {
	@apply hover:bg-brand-accent-dark hover:text-white border-brand-accent-base dark:hover:bg-white dark:hover:text-brand-accent-base;
}

/* background colors */

.bg-brand-primary {
	@apply bg-brand-darkWhite dark:bg-brand-darkGrey;
}

.bg-brand-secondary {
	@apply bg-brand-lightWhite dark:bg-brand-lightGrey;
}

.bg-brand-gradient {
	@apply bg-gradient-to-r from-brand-pink via-brand-blue to-brand-lightBlue;
}

/* text colors */

.text-brand-primary {
	@apply text-black dark:text-white;
}

.text-brand-secondary {
	@apply text-gray-500 dark:text-gray-400;
}

.text-brand-gradient {
	@apply text-transparent bg-clip-text bg-gradient-to-r from-brand-pink via-brand-blue to-brand-lightBlue;
}

/* border colors */

.border-brand-primary {
	@apply border-gray-500 dark:border-brand-darkGrey;
}

/* custom scrollbar */
::-webkit-scrollbar {
	width: 16px;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: #acaeaf;
	border-radius: 20px;
	border: 4px solid transparent;
	background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #a8bbbf;
}
